.card-balance {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &--credit {
    color: var(--color-black);
    font-weight: bold;
    font-size: 30px;
  }
  &--balance {
  }
}
